<div class="col-12" id="course-period-<%= course_period.id %>">
  <div class="bg-light border-left sb-border-lg rounded border-primary px-3 py-2 mb-3 d-flex align-items-center justify-content-between">
  <%= "#{course_period.day} #{course_period.period.period_number}: #{course_period.period.class_time}" %>
  <%= link_to course_period_path(course_period), class: "btn sb-btn-transparent-dark sb-btn-icon", method: 'delete', remote: true, data: { confirm: "Are you sure you want to delete #{course_period.day} #{course_period.period.period_number}: #{course_period.period.class_time}?" } do %>
    <i data-feather='x'></i>
  <% end %>
  </div>
</div>