  <div class="sb-sidenav-menu-heading">Courses</div>
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
        <% current_student.courses.each do |course| %>
          <% icon = course.class_type == 'speaking' ? 'message-square' : 'pen-tool'  %>
          <div class="sb-nav-link-icon">
            <i data-feather=<%= icon %>></i>
          </div>
          <%= course.name %>
          <div class="sb-sidenav-collapse-arrow">
            <i class="fas fa-angle-down"></i>
          </div>
        <% end %>
    </a>
    <div class="collapse" id="collapseLayouts" data-parent="#accordionSidenav">
      <nav class="sb-sidenav-menu-nested nav accordion" id="accordionSidenavLayout">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayoutsPageHeaders" aria-expanded="false" aria-controls="collapseLayoutsPageHeaders">
        Lessons
          <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
        </a>  
        <div class="collapse" id="collapseLayoutsPageHeaders" data-parent="#accordionSidenavLayout">
          <nav class="sb-sidenav-menu-nested nav">
            <a class="nav-link" href="header-simplified.html">Simplified</a>
            <a class="nav-link" href="header-overlap.html">Content Overlap</a>
            <a class="nav-link" href="header-breadcrumbs.html">Breadcrumbs</a>
            <a class="nav-link" href="header-light.html">Light</a>
          </nav>
        </div>
          <a class="nav-link" href="layout-static.html">Grades</a>
      </nav>
    </div>
