<div class="jumbotron">
  <h1 class="display-4">All Your Classes. Oraganized. </h1>
  <p class="lead">Keep your students in the loop with classkeeper.</p>
  <hr class="my-4">
  <p>Make yourself a better teacher.</p>
  <p class="lead">
    <%= link_to pages_signup_path do%><button class="btn btn-primary btn-lg" role="button">Sign up</button><% end %>
  </p>
</div>