<div class="container">
<div class="jumbotron">
  <h1 class="display-4">All Your Classes. Optimized. </h1>
  <p class="lead">Automate lesson flows with classkeeper.</p>
  <hr class="my-4">
  <p class="lead">
    <%= link_to pages_signup_path do%><button class="btn btn-primary btn-lg" role="button">Get started</button><% end %>
  </p>
</div>
</div>