<div class="container" style='height: 100vh;'>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <h5 class="card-header">Register as a Teacher</h5>

    
      <div class="card-body">
        
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        
        
        <%= link_to new_user_registration_path, class: 'btn btn-primary' do %>Sign up<% end %>
      </div>
      
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
          <h5 class="card-header">Register as a Student</h5>

      <div class="card-body">
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <%= link_to new_student_registration_path, class: 'btn btn-primary' do %>Sign up<% end %>

      </div>
    </div>
  </div>
</div>
  </div>
