<div class="card sb-card-collapsable">
  <div class="card-header">Lessons Schedule</div>
  <div class="card-body">
    <div id='schedule-lessons-card'>
    <% if @lessons_schedule.persisted? %>
    <%= render 'lessons_schedule', lessons_schedule: @lessons_schedule %>
    <% end %>
    </div>
    <div id="schedule-lessons-form">
      <%= render 'schedule_lessons_form', course: course, lessons_schedule: lessons_schedule %>
    </div>
  </div>
</div>