<div class="card sb-card-collapsable">
  <div class="card-header">Schedule Lessons</div>
  <div class="card-body">
    <%= render 'schedule_lessons_form', course: course, lessons_schedule: lessons_schedule %>
  </div>
</div>