<div class="container">
  <div class="row my-4">
  <div class="col-md-4 offset-md-4">
    <h2>Student sign up</h2>

    
    <%= render "shared/sign_up_form", student: true %>
    <%= render "students/shared/links" %>
  
  </div>
  </div>
</div>
